.package-filter {
  box-sizing: border-box;
  background-color: azure;
  padding: 1.5rem;
  border-radius: 1rem;
  margin: auto;
  box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.33);
  .col-md {
    margin: auto;
  }
}

select.ng-touched.ng-invalid {
  border: 2px solid rgb(247, 101, 85);
}

label {
  padding-bottom: 0.5rem;
  font-weight: 300;
}

.button {
  flex: 0 0 20%;
  margin: auto;

  max-width: 20%;
  button {
    width: 100%;
    height: 100%;
  }
}
.period {
  display: flex;
  gap: 1rem;
}

.btn-success {
  background-color: #ffd47f;
  border: none;
  color: rgb(62, 62, 62);
  &:hover {
    color: rgb(62, 62, 62);
    background-color: darken($color: #ffd47f, $amount: 10%);
  }
  &:active {
    color: rgb(62, 62, 62);
    background-color: darken($color: #ffd47f, $amount: 20%);
  }
}
