/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

$maxwidth: 1200px;

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1 0;
}

app-root {
  flex: 1 0;
}

h3 {
  font-size: 1.4rem;
  font-weight: 300;
}

.wrap {
//   height: 100%;
  width: 90vw;
  max-width: $maxwidth;
  margin: 0 auto;
}

.package-filter-wrapper {
  width: 90vw;
  max-width: $maxwidth;
}

.home {
  min-height: 100%;
}

.thin {
  font-weight: 200;
}

.navbar > .container-fluid {
  max-width: $maxwidth;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
