$paddingForFilter: 6rem;

.top {
  position: relative;
  background-color: aquamarine;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: $paddingForFilter;
  .text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 550px;
  }
  .package-filter-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 0 0;
    box-sizing: border-box;
  }
}

.bottom {
  padding-top: $paddingForFilter + 1rem;
  .text {
    padding-bottom: 1rem;
  }
}

